.container {
  padding-top: 30px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  background-color: aquamarine;
  width: 30vw;
  border-radius: 13px;
  border: solid 2px #5b5252;
}


.container1 {
  padding-left: 20px;
}

.container2 {
  display: flex;
  gap: 4rem;
  padding-left: 4rem;
  flex-wrap: wrap;
}

tr {
  padding-top: 15px;
}

ul {
  line-height: 39px;
  font-size: 26px;
}

h1 {
  padding-left: 6rem;
  justify-content: center;
  font-size: 36px;
}

.lol {
  display: flex;
}

.btn {
  padding-left: 20px;
}

.add {
  padding: 5px 10px;
  background-color: #3dca3d;
  font-size: 16px;
  margin-left:  90px;
  margin-right: 90px;
  border: none;
  border-radius: 5px;
}

.edit {
  border-radius: 5px;
  font-size: 16px;
  padding: 9px 15px;
  border: none;
  background-color: #fff;
  text-decoration: none; 
  color: #060000;
}

.delete {
  background-color: #a24e4e;
  border-radius: 5px;
  padding: 9px 15px;
  border: none;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
}

.delete:hover {
  background-color: #5b5252;
  color: #fff;
}

.edit:hover {
  background-color: #0e0af1;
  color: #fff;
  text-decoration: none;
}

.add:hover {
  background-color: #060606;
  color: #fff;
}

.one {
  display: none;
}

tbody {
  line-height: 40px;
  display: flex;
  flex-direction: column;
}

thead {
  padding: 5px;
  text-align: center;
}

.ajout {
  padding: 7px;
  margin-left: 30px;
  width: 50%;
  border: none;
  border-radius: 3px;
  background-color: aliceblue;
}

@media screen and (max-width: 700px) {
  .container {
    width: fit-content;
  }
  
}
